__pycache__/
# Ipython checkpoints
.ipynb_checkpoints


# Data files 

/Data

*.pyc

*.bin
*.h5

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# mkdocs documentation
/site

# PyCharm
.idea/

# ruff
.ruff_cache/

# packaging

env/
eggs/
.eggs/
build/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/


# Unit test / coverage reports

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# doc
doc/_autosummary/
doc/_build/


