# Ipython checkpoints 
.ipynb_checkpoints


# Data files 

/Data

*.pyc

*.bin
*.h5

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# mkdocs documentation
/site

# PyCharm
.idea/
